/* uses css grid */
body, main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}


header {
    width: 100vw;
}

h1 {
    margin: 0;
    padding: 50px 0 0 50px;
}

.board{
    width: 100vw;
    height: 75vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: #111111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
    justify-self: center;
    
}

.tile {
    background-color: #ffffff;
    font-size: 9em;
    text-align: center;
}

.tile:hover {
    background-color: #e6e6e6;
}

/* .clearboard {
    width: 40px;
    height: 15px;
    background-color: aqua;
} */

.text {
    width: 100vw;
    height: 20%;
}

@media screen and (max-width: 1280px) {
    /* header {
        height: 15%;
    } */
}

@media screen and (max-width: 1280px) {
    /* header {
        height: 15%;
    } */
    .container {
        width: 450px;
        height: 450px;
    }

    .tile {
        font-size: 7.75em;
    }
}

@media screen and (max-width: 414px) {
    /* header {
        height: 15%;
    } */
    .container {
        width: 250px;
        height: 250px;
    }

    .tile {
        font-size: 4.25em;
    }
}